
/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
    background-color: white;
    color: #303233;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-weight: 500;
    font-size: 1.5;
    margin: 0; 
}

h3 {
    margin: 0;
    padding: .5em 0;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 25%;
    height: 120px;
    padding-bottom: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    width: 100%;
    height: 4.5em;
}

footer {
    background-color: #303233;
    margin-top: auto;
    height: 10vh;
}

.skills-table img {
    filter: grayscale(10%);  
    -webkit-filter: grayscale(10%);
}

.wrapper {
    height: 100%;
    background-color: #303233;
}

.content {
    background-color: white;
}

.main-nav {
    position: fixed;
    left: 3em;
    top: 30px;
}

    .main-nav .nav-link {
        margin-right: 10px;
    }

.photo {
    background: #6C6C6C url(/images/me.png) no-repeat right;  
    background-size: contain;
    min-height: 100vh;
    flex-grow: 1;
}

.video-wrapper {
    flex-grow: 1;
    position: relative;
    padding-bottom: 56.28%;
    padding-top: 25px;
    height: 0;
    display: flex;
    flex-wrap: wrap;
}

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-form {
    padding: 1em 1em;
}

    .contact-form input, textarea {
        width: 100%;
        padding: 10px 15px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 2px solid darkslategrey;
        border-radius: 5px;
    }

    .contact-form textarea {
        resize: none;
    }

    .contact-form button {
        font-weight: 500;
        border: 2px solid #303233;
        border-radius: 3px; 
        padding: 5px 25px;
        transition-duration: 0.4s;
        background-color: white;
        display: block;
        margin: auto;
    }

        .contact-form button:hover {
            background-color: #303233;
            color: white;
        }

.heading {
    padding-top: 1.5em;
    padding-bottom: .5em;
}

.details {
    padding: 3em 3em;
    background-color: white;
}

.content {
    padding: .7em 3em;
}

.main-info {
    padding-bottom: 2em;
}

.nav-link {
    text-decoration: none;
    color: #303233;
}

.button {
    font-weight: 500;
    padding-top: 1em;
}

    .home {
        text-align: center;
    }

    .about {
        text-align: right;
        padding-top: 1em;
    }

    .button .nav-link {
       border: 2px solid #303233;
       border-radius: 3px; 
       padding: 5px 15px;
       transition-duration: 0.4s;
    }

    .button .nav-link:hover {
        background-color: #303233;
        color: white;
    }

/* Media Queries */

@media (min-width: 769px) {

    .main-content {
        flex-direction: row;
    }

    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home {
        padding-top: 2em;
    }

    .contact-form {
        margin: auto;
    }
} 

@media (min-width: 1025px) {

    .heading {
        padding-left: 10%;
        padding-top: 2em;
        padding-bottom: 1em;
        white-space: nowrap;
    } 

    .about {
        padding-top: 1.5em;
        padding-right: 5%;
    }

    .main-nav {
        top: 60px;
    }

    .details {
        padding-top: 8em;
    }

    .content {
        padding-top: 2em;
        margin-left: 6em;
        margin-right: 6em;
    }

    .video-wrapper {
        max-width: 80%;
        margin: auto;
    }

    .contact-form {
        border: solid 2px darkslategrey;
        border-radius: 15px;
        width: 60%;
        padding-top: 1em; 
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1.5em;
        margin: 1.5em auto;
    }

    table {
        max-width: 90%;
        margin: auto;
        padding: 1em 0;
    }

}

